extends ../layout

block header
    script(type='text/javascript')
        require(['lib/knockout', 'viewmodels/basicViewModel', 'lib/domReady!'], function(ko, viewModel) {
            ko.applyBindings(new viewModel(), document.getElementById('MainContainer'));
        });

block content

    div(data-bind='template: {name: \'ViewTemplate\'}')
    script#ViewTemplate(type='text/html')

        .container
            h3
                | Your Account has not yet been activated.

            div
                p You will receive an activation email. Follow those instructions to activate your account.
            hr.dash

