extends ../layout

block header
    script(type='text/javascript', src='js/controllers/account/activateController.js')

block content

    div(ng-controller='ActivateController')

        if (canActivate)
            form.well
                fieldset

                    label Email:
                    h5.colored(ng-model='email')

                    hr.dash

                    label(for='password') Password:
                    input(type='password', placeholder='password', ng-model='password')
                    span.label.label-important(style='margin-left: 10px;')

                    label(for='confirm-password') Confirm Password:
                    input(type='password', placeholder='confirm password', ng-model='confirmPassword')
                    span.label.label-important(style='margin-left: 10px;')

                .alert.alert-error(ng-model='error')
            .form-actions
                button.btn.btn-success(ng-click='setPassword()') Set your Password
        else
            h3 User not activated
            h5 You may already have activated your account.
            div
                p Login to Scouter using your credentials.
            hr.dash
            a(href='/login') Login to Scouter


