extends ../layout

block header
    script(type='text/javascript')
        require(['lib/knockout', 'viewmodels/basicViewModel', 'lib/domReady!'], function(ko, viewModel) {
            ko.applyBindings(new viewModel(), document.getElementById('MainContainer'));
        });

block content

    div(data-bind='template: {name: \'ViewTemplate\'}')
    script#ViewTemplate(type='text/html')

        .container
            h3
                Registration complete
            small
                | An email has been sent to you the address you registered with. Please follow the instructions
                | to successfully log in.

