extends ../layout

block header
    script(type='text/javascript', src='js/controllers/account/registerController.js')

block content

    form.well(ng-controller='RegisterController')
        fieldset

            input(type='text', placeholder='email@email.com', ng-model='email',  ng-model-instant)
            span.label.label-important(ng-hide='emailValid()', style='margin-left: 10px;') required

        .alert.alert-error(ng-model='errorMessage', ng-show='errorMessage')
        .alert.alert-success(ng-model='message', ng-show='message')

        button.btn.btn-success(ng-click='register()', ng-disabled='isBusy') Register


