extends ../layout

block header
    script(type='text/javascript')
        require(['lib/knockout', 'viewmodels/BasicViewModel', 'lib/domReady!'], function(ko, viewModel) {
            ko.applyBindings(new viewModel());
        });


block content

    include ../includes/title

    div(data-bind='template: {name: \'ViewTemplate\'}')
    script#ViewTemplate(type='text/html')

        .container
            small
                if errorMessage
                    .alert.alert-error
                        | #{ errorMessage }

                else
                    .alert.alert-success
                        | #{ message }


