.container
    .navbar
        .navbar-inner

            a.btn.btn-navbar(data-toggle='collapse', data-target='.navbar-responsive-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') Scouter
            .nav-collapse.collapse.navbar-responsive-collapse
                ul.nav
                    li.active
                        a(href='/')
                            i.icon-home.icon-white
                            | Home
                    li
                        a(href='#')
                            i.icon-question-sign.icon-white
                            | Help

                    if currentUser != null && currentUser != ''
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Tools
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider
                                li.nav-header Nav header
                                li
                                    a(href='#') Separated link
                                li
                                    a(href='#') One more separated link
                    li.divider
                form.navbar-search.pull-left(action='')
                    input.search-query.span2(type='text', placeholder='Search')
                ul.nav.pull-right

                    if currentUser != null && currentUser != ''
                        li
                            a(href='/account') #{currentUser.email}
                        li.divider-vertical
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Account
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider
                                li
                                    a(href='#') Separated link
                    if currentUser == null || currentUser == ''
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Sign Up
                                strong.caret
                            .dropdown-menu(style='padding: 15px; padding-bottom: 0px;')
                                form(ng-app="register", ng-controller='RegisterController')
                                    input(ng-model='email', style='margin-bottom: 15px;', type='text', placeholder='Email', name='email')
                                    input.btn.btn-primary.btn-block(ng-click='register()', value='Register')
                                    textarea {{twitterResult}}
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Sign In
                                strong.caret
                            .dropdown-menu(style='padding: 15px; padding-bottom: 0px;')
                                form(method='post', action='login', accept-charset='UTF-8')
                                    input(style='margin-bottom: 15px;', type='text', placeholder='Email', name='email')
                                    input(style='margin-bottom: 15px;', type='password', placeholder='Password', name='password')
                                    input#remember-me(style='float: left; margin-right: 10px;', type='checkbox', name='remember-me', value='1')
                                    label(for='user_remember_me', style=' color: #aaa')  Remember me
                                    input.btn.btn-primary.btn-block(type='submit', value='Sign In')
                                    label(style='text-align: center; margin-top: 5px; color: #aaa') or
                                    input.btn.btn-primary.btn-block(type='button', value='Sign In with Google')
                                    input.btn.btn-primary.btn-block(type='button', value='Sign In with Twitter')
