.container
    .navbar
        .navbar-inner

            a.btn.btn-navbar(data-toggle='collapse', data-target='.navbar-responsive-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') Scouter
            .nav-collapse.collapse.navbar-responsive-collapse
                ul.nav
                    li.active
                        a(href='/')
                            i.icon-home.icon-white
                            | Home
                    li
                        a(href='#')
                            i.icon-question-sign.icon-white
                            | Help

                    if currentUser != null && currentUser != ''
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Tools
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/troops') Troops
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider
                                li.nav-header Nav header
                                li
                                    a(href='#') Separated link
                                li
                                    a(href='#') One more separated link
                    li.divider
                form.navbar-search.pull-left(action='')
                    input.search-query.span2(type='text', placeholder='Search')
                ul.nav.pull-right

                    if currentUser != null && currentUser != ''
                        li
                            a(href='/account') #{currentUser.email}
                        li.divider-vertical
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Account
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider
                                li
                                    a(href='/logout') Sign out
                    else
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Sign Up
                                strong.caret
                            .dropdown-menu(style='padding: 15px; padding-bottom: 0px;')
                                #RegisterForm
                                    form
                                        .control-group(data-bind='css: {\'error\': !email.isValid(), \'success\': email.isValid}')
                                            input(type='text', placeholder='email@email.com', data-bind='validationOptions: { insertMessages: false }, value: email, valueUpdate: \'afterkeydown\'')
                                        button.btn.btn-primary.btn-block(data-bind='click: register, enable: isValid') Register

                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Sign In
                                strong.caret
                            .dropdown-menu(style='padding: 15px; padding-bottom: 0px;')
                                #LoginForm
                                    form
                                        .control-group(data-bind='css: {\'error\': !email.isValid(), \'success\': email.isValid}')
                                            input(type='text', placeholder='Email', data-bind='validationOptions: { insertMessages: false }, value: email, valueUpdate: \'afterkeydown\'')
                                        .control-group(data-bind='css: {\'error\': !password.isValid(), \'success\': password.isValid}')
                                            input(type='password', placeholder='Password', data-bind='validationOptions: { insertMessages: false }, value: password, valueUpdate: \'afterkeydown\'')
                                        input#remember-me(style='float: left; margin-right: 10px;', type='checkbox', name='remember-me', value='1')
                                        label(for='user_remember_me', style=' color: #aaa')  Remember me
                                        button.btn.btn-primary.btn-block(data-bind='click: login, enable: isValid') Sign In
