!!! 5
html(lang='en', ng-app='scouter')
    head
        meta(charset='utf8')
        base(href='/')
        title #{title}
        link(rel='stylesheet', type='text/css', href='/styles/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/styles/bootstrap-responsive.min.css')

        script(type='text/javascript',  src='js/lib/require.js')
        script(type='text/javascript',  src='js/global/requireConfig.js')

        script(type='text/javascript', src='js/lib/jquery-1.7.2.min.js')
        script(type='text/javascript', src='js/lib/bootstrap.min.js')
        script(type='text/javascript', src='js/lib/underscore-min.js')

        if currentUser == null || currentUser == ''
            script(type='text/javascript')
                require(['lib/knockout',
                            'viewmodels/account/registerViewModel',
                            'viewmodels/account/loginViewModel',
                            'lib/domReady!'],
                function(ko, registerViewModel, loginViewModel) {
                    ko.applyBindings(new registerViewModel(), document.getElementById('RegisterForm'));
                    ko.applyBindings(new loginViewModel(), document.getElementById('LoginForm'));
                });


        block header

    body
        include includes/header

        #wrap

            #MainContainer.container

                block content

            #push

        #footer

            include includes/footer
  
 