!!! 5
html(lang='en')
    head
        meta(charset='utf8')
        base(href='/')
        title #{title}
        link(rel='stylesheet', type='text/css', href='/styles/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/styles/bootstrap-responsive.min.css')

        script(type='text/javascript',  src='js/lib/require.js')
        script(type='text/javascript',  src='js/global/requireConfig.js')
  
        script(type='text/javascript', src='js/lib/jquery-1.7.2.min.js')
        script(type='text/javascript', src='js/lib/bootstrap.min.js')

        script(type='text/javascript', src='js/lib/underscore-min.js')

        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js')
        script(type='text/javascript', src='js/lib/angular-resource.min.js')

        if currentUser == null || currentUser == ''
            script(type='text/javascript', src='js/controllers/account/registerController.js')

        block header

    body
        include includes/header

        #wrap

            .container

                block content

            #push

        #footer

            include includes/footer
  
 