extends ../layout

block header


block content

    include ../includes/title

    .container


        .row
            .span12
                hr.dash

        .row
            .span12
                h1.colored You do not have permission to access this page

        .row
            .span12
                hr.dash

