extends ../layout

block header
    script(type='text/javascript')
        require(['lib/knockout', 'viewmodels/troop/troopsViewModel', 'lib/domReady!'], function(ko, viewModel) {
            ko.applyBindings(new viewModel());
        });


block content

    div(data-bind='template: {name: \'ViewTemplate\'}')
    script#ViewTemplate(type='text/html')

        .row
            .span12
                h1 Troops

        .row
            .span12
                hr

        .row#EditTroop.collapse(data-bind='with: troop')
            .span12

                    h3 Troop Details

                    form.form-horizontal
                        fieldset.well
                            .control-group
                                label.control-label(for='inputName') Name
                                .controls
                                    input(type='text', placeholder='Name', data-bind='value: name')
                                label.control-label(for='inputName') Address Line 1
                                .controls
                                    input(type='text', placeholder='Address Line 1', data-bind='value: addressLine1')
                                label.control-label(for='inputName') Address Line 2
                                .controls
                                    input(type='text', placeholder='Address Line 2', data-bind='value: addressLine2')
                                label.control-label(for='inputName') City
                                .controls
                                    input(type='text', placeholder='City', data-bind='value: city')
                                label.control-label(for='inputName') Postal Code'
                                .controls
                                    input(type='text', placeholder='Postal Code', data-bind='value: postalCode')
                                label.control-label(for='inputName') Province
                                .controls
                                    input(type='text', placeholder='Province', data-bind='value: province')
                                label.control-label(for='inputName') Country
                                .controls
                                    input(type='text', placeholder='Country', data-bind='value: country')
                                label.control-label(for='inputName') Email
                                .controls
                                    input(type='text', placeholder='Email', data-bind='value: email')
                                label.control-label(for='inputName') Phone
                                .controls
                                    input(type='text', placeholder='Phone', data-bind='value: phone')
                                label.control-label(for='inputName') Fax
                                .controls
                                    input(type='text', placeholder='Fax', data-bind='value: fax')



                        .form-actions(style='text-align: right;')
                            button.btn(data-toggle='collapse', data-target='#EditTroop', style='margin: 3px;') close
                            button.btn.btn-success(data-bind='click: $parent.saveTroop', style='margin: 3px;') save


        .row
            .span12
                button.btn.btn-primary.pull-right(data-toggle='collapse', data-target='#EditTroop', data-bind='click: newTroop', style='margin: 5px;') Add a Troop

        .row
            .span12
                hr


        .row
            .span12

                table.table.table-condensed
                    tr
                        th Name
                        th Email
                        th Phone
                    tbody(data-bind='foreach: troops')
                        tr
                            td
                                a(data-bind='attr: {href:\'/troop/\' + id()}')
                                    span(data-bind='text: name')
                            td(data-bind='text: email')
                            td(data-bind='text: phone')




