extends ../layout

block header
    script(type='text/javascript')
        require(['lib/knockout', 'viewmodels/troop/troopsViewModel', 'lib/domReady!'], function(ko, viewModel) {
            ko.applyBindings(new viewModel());
        });


block content

    div(data-bind='template: {name: \'ViewTemplate\'}')
    script#ViewTemplate(type='text/html')

        .row
            .span12
                h1 Troops

        .row
            .span12
                hr

        .row#EditTroop.collapse(data-bind='with: troop')
            .span12
                .well
                    h3 Troop Details

                    input(type='text', placeholder='Name', data-bind='value: name')
                    input(type='text', placeholder='Address Line 1', data-bind='value: addressLine2')
                    input(type='text', placeholder='Address Line 2', data-bind='value: addressLine2')
                    input(type='text', placeholder='City', data-bind='value: city')
                    input(type='text', placeholder='Postal Code', data-bind='value: postalCode')
                    input(type='text', placeholder='Province', data-bind='value: province')
                    input(type='text', placeholder='Country', data-bind='value: country')
                    input(type='text', placeholder='Email', data-bind='value: email')
                    input(type='text', placeholder='Phone', data-bind='value: phone')
                    input(type='text', placeholder='Fax', data-bind='value: fax')

                .form-actions


        .row
            .span12
                button.btn.btn-primary.pull-right(data-toggle='collapse', data-target='#EditTroop', data-bind='', style='margin: 5px;') Add a Troop

        .row
            .span12
                hr


        .row
            .span12

                table.table.table-condensed
                    tr
                        th Name
                    tbody(data-bind='foreach: troops')
                        tr
                            td(data-bind='text: name')




