.row(data-bind='with: apiKeys')
    .span7
        .row
            .span7
                hr.dash
                .intro(style='margin-bottom: 20px;')
                    p
                        em
                            | You must apply for an API Key if you want to make calls to the API.
                    p
                        h5.colored Remember to keep your Secrets SECRET! Others may be able to use your secret to
                            | impersonate you.
                    .well
                        button.btn.btn-primary.pull-right(data-bind='click: generate') Generate a New Key

                hr.dash.intro
        .row
            .span7

                .page-header
                    h1.colored
                        | API&nbsp;
                        small Keys
        .row
            .span7
                table.table.table-condensed
                    tr
                        th Key
                        th Secret
                    tbody(data-bind='foreach: apiKeys')
                        tr
                            td(data-bind='text: key')
                            td(data-bind='text: secret')