.row(data-bind='with: user')
    .span7
        .row
            .span7
                hr.dash
                .intro
                    p(style='margin-bottom: 10px;')
                    em
                        | This is your personal information
                hr.dash.intro
        .row
            .span7

                .page-header
                    h1.colored
                        | User&nbsp;
                        small information



        .row
            .span7
                form.well
                    label First Name
                    input.input-xlarge(type='text', placeholder='First Name', data-bind='validationOptions: { insertMessages: false }, value: firstName, valueUpdate: \'afterkeydown\', css: {\'error\': !firstName.isValid()}')
                    span.label.label-important(data-bind='visible: !firstName.isValid(), validationMessage: firstName', style='margin-left: 10px;')

                    label Last Name
                    input.input-xlarge(type='text', placeholder='Last Name', data-bind='validationOptions: { insertMessages: false }, value: lastName, valueUpdate: \'afterkeydown\', css: {\'error\': !lastName.isValid()}')
                    span.label.label-important(data-bind='visible: !lastName.isValid(), validationMessage: lastName', style='margin-left: 10px;')

                    label Phone
                    input.input-xlarge(type='text', placeholder='Phone', data-bind='value: phone, valueUpdate: \'afterkeydown\'')

                    label Mobile
                    input.input-xlarge(type='text', placeholder='Mobile', data-bind='value: mobile, valueUpdate: \'afterkeydown\'')

                    label Fax
                    input.input-xlarge(type='text', placeholder='Fax', data-bind='value: fax, valueUpdate: \'afterkeydown\'')

                    label Email
                    input.input-xlarge(type='text', placeholder='Email', data-bind='validationOptions: { insertMessages: false }, value: email, valueUpdate: \'afterkeydown\', css: {\'error\': !email.isValid()}')
                    span.label.label-important(data-bind='visible: !email.isValid(), validationMessage: email', style='margin-left: 10px;')


        .row
            .span7
                .form-actions(style='text-align: right;')
                    button.btn.btn-success(data-bind='click: $root.saveUser, enable: isValid', style='margin: 5px;') Save changes

